CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
**.sln
**.vcxproj
**.filters
**.user
**.cmake
**.tmpa37db
x64
Debug
Release
_deps
build
.vscode
.vs